<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                With over 7 years of experience, I specialize in solving complex, real-world challenges through advanced machine-learning algorithms. My expertise and enthusiasm span two primary domains:
            </p>
            <p class="paragraph-text justify-text">
                1) Search & Recommendation Systems:
                My professional journey is centered around developing and implementing cutting-edge data retrieval and ranking solutions to tackle intricate, large-scale problems. What truly fuels my enthusiasm is the ability to make a meaningful impact on the daily lives of millions of users. My Ph.D. research and work experience are focused on Learning to Rank, where I have a proven track record in crafting robust ranking models and recommendation systems across diverse applications.
            </p>
            <p class="paragraph-text justify-text">
                2) Biomedical Applications:
                My journey into the world of biomedical applications began during my master's degree, and it has been an incredible journey since. I have contributed to various projects, including the development of clustering methods for gene expression data analysis, the creation of fuzzy expert systems for hepatitis diagnosis, and the development of predictive models for COVID-19 outcomes (including hospitalization, ICU admission, mechanical ventilation, and mortality prediction). Additionally, I've proposed innovative ranking schemes to improve the ClusPro protein docking server, explored learning to rank for personalized drug recommendation, delved into protein structure modeling, and successfully developed a multi-cancer classifier utilizing epigenomic data.
            </p>
            
            <p class="paragraph-text justify-text"> 
            I am passionate about pushing the boundaries of what machine learning can achieve, and I am constantly seeking new avenues to apply my expertise and make a positive impact in the field of AI and beyond. Please feel free to connect with me to discuss potential collaborations or explore how we can work together.
            </p>
        </div>
    </section>
</div>
