<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name">{{ site.title }}</div>
        <div class="head-punchline animated">{{ site.description }}</div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#about">ABOUT</a>
            <a class="semi-transparent-button with-border nav-links" href="#skills">SKILLS</a>
            <a class="semi-transparent-button with-border nav-links" href="#projects">PROJECTS</a>
            <a class="semi-transparent-button with-border nav-links" href="#blog-posts">BLOG</a>
        </div>
        <div class="head-social-links animated">
            <a href="https://scholar.google.com/citations?user=goBVCAQAAAAJ&hl=en" target="_blank" aria-label="Google Scholar">
                <i class="fab fa-google-scholar"></i>
            </a>
            <a href="https://www.linkedin.com/in/sotudian" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</section>
