<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Technical Skills</div>
                    
                    <!-- Three Columns for Skills -->
                    <div class="skills-columns">
                        <!-- Column 1 -->
                        <div class="skills-column">
                            <!-- Programming Languages -->
                            <h3 class="skills-category">Programming Languages</h3>
                            <div class="progress-bars">
                                <div class="skillbar clearfix" data-percent="90%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="75%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>MATLAB</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="80%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>R</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="65%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>SQL</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                            </div>
                            <!-- Optimization & Modeling-->
                            <h3 class="skills-category">Optimization & Modeling</h3>
                            <div class="progress-bars">
                                <div class="skillbar clearfix" data-percent="90%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>Gurobi</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="75%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>GAMS</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="80%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>gurobipy</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Column 2 -->
                        <div class="skills-column">
                            <!-- Data Analysis & Machine Learning -->
                            <h3 class="skills-category">Data Analysis & Machine Learning</h3>
                            <div class="progress-bars">
                                <div class="skillbar clearfix" data-percent="95%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>NumPy</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="95%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>Pandas</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="95%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>SciPy</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="95%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>ScikitLearn</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Column 3 -->
                        <div class="skills-column">
                            <!-- Web Scraping & NLP -->
                            <h3 class="skills-category">Web Scraping & NLP</h3>
                            <div class="progress-bars">
                                <div class="skillbar clearfix" data-percent="80%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>NLTK</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="85%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>BeautifulSoup</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="80%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>newspaper</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="85%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>vaderSentiment</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- End Skills Columns -->

                </div>

        </div>
    </section>
</div>
